<h1>Stupid Coaching</h1>
<%= @ask %>
<%= @answer %>
 <%# <% if 'I am going to work' %>
<%# <div>Great!</div> %>
  <%# <% elsif '%?%' %>
  <%# <div>Silly question, get dressed and go to work!</div> %>
  <%# <% else %>
  <%# <div>I don't care, get dressed and go to work!</div> %>
<%# <% end %>
